textarea {
    min-height: 400px;
}

.message {
    outline: 1px solid black;
    margin: 8px;
    display: grid;
    padding: 5px;
    grid-column-gap: 5px;
    grid-row-gap: 10px;
    grid-template-columns: 200px 200px auto;
}

.timestamp {
text-align: right;
}
.sender {

}

.subject {

}

.timestamp {

}